
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<section class="comfort-zone-section section-{{ section.id }}-padding">
  <div class="comfort-container page-width">
    <div class="comfort-left">
      <div class="comfort-images">
        {% if section.settings.left_image != blank %}
          <a href="{% if section.settings.left_image_link != blank %}{{section.settings.left_image_link }}{% else %}#{% endif %}">
            <img src="{{ section.settings.left_image | image_url: width: 600 }}" alt="Left Image" class="comfort-img">
          </a>
        {% endif %}
        {% if section.settings.right_image != blank %}
          <a href="{% if section.settings.right_image_link != blank %}{{section.settings.right_image_link }}{% else %}#{% endif %}">
            <img src="{{ section.settings.right_image | image_url: width: 600 }}" alt="Right Image" class="comfort-img">
          </a>
        {% endif %}
        {% if section.settings.badge_text != blank %}
    <div class="comfort-badge">
<div class="comfort-badge-inner">
            <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M86.0941 13.4526C93.8475 5.9519 106.152 5.9519 113.906 13.4526L117.695 17.1179C122.128 21.4071 128.293 23.4102 134.402 22.5463L139.621 21.808C150.303 20.2972 160.258 27.5298 162.121 38.1554L163.032 43.3476C164.098 49.4238 167.908 54.6681 173.358 57.5594L178.014 60.0301C187.544 65.0862 191.346 76.7889 186.609 86.4807L184.294 91.2167C181.584 96.7589 181.584 103.241 184.294 108.783L186.609 113.519C191.346 123.211 187.544 134.914 178.014 139.97L173.358 142.441C167.908 145.332 164.098 150.576 163.032 156.652L162.121 161.845C160.258 172.47 150.303 179.703 139.621 178.192L134.402 177.454C128.293 176.59 122.128 178.593 117.695 182.882L113.906 186.547C106.152 194.048 93.8475 194.048 86.0941 186.547L82.3053 182.882C77.8716 178.593 71.7065 176.59 65.5984 177.454L60.3788 178.192C49.6974 179.703 39.7425 172.47 37.8786 161.845L36.9678 156.652C35.902 150.576 32.0918 145.332 26.6424 142.441L21.9857 139.97C12.4562 134.914 8.65373 123.211 13.3914 113.519L15.7065 108.783C18.4156 103.241 18.4156 96.7589 15.7064 91.2167L13.3914 86.4807C8.65373 76.7889 12.4562 65.0862 21.9857 60.0301L26.6424 57.5594C32.0918 54.6681 35.902 49.4238 36.9678 43.3476L37.8786 38.1553C39.7425 27.5298 49.6974 20.2972 60.3788 21.808L65.5984 22.5463C71.7065 23.4102 77.8716 21.4071 82.3053 17.1179L86.0941 13.4526Z" fill="#ff4a1c"></path>
<path d="M39.9252 84.7978L31.4753 82.5337L31.8853 81.0036L40.3352 83.2678L39.9252 84.7978Z" fill="white" fill-opacity="0.5"></path>
<path d="M42.6045 76.4161L34.7148 72.6373L35.5646 70.8622L43.2197 70.0181L43.2508 69.9532L40.6872 68.8052L37.3213 67.1931L37.9846 65.8077L45.8744 69.5865L45.066 71.275L37.4598 72.1558L37.4287 72.2207L39.8192 73.2858L43.3041 74.9549L42.6045 76.4161Z" fill="white" fill-opacity="0.5"></path>
<path d="M49.6808 63.8702L43.5983 59.4211L44.5402 58.1327L50.6227 62.5818L49.6808 63.8702ZM42.1616 61.6709L41.0478 60.8562L45.1554 55.2375L46.2692 56.0522L42.1616 61.6709Z" fill="white" fill-opacity="0.5"></path>
<path d="M55.2937 57.0179L49.3024 50.6435L52.4405 47.692C52.6969 47.4509 52.9519 47.255 53.2055 47.1043C53.465 46.9481 53.723 46.8372 53.9797 46.7715C54.2364 46.7058 54.4887 46.6881 54.7367 46.7184C54.9848 46.7487 55.2285 46.827 55.468 46.9532C55.7019 47.0736 55.9257 47.2475 56.1394 47.4749C56.512 47.8713 56.7221 48.3051 56.7698 48.7764C56.8179 49.2364 56.705 49.6886 56.431 50.133L56.4803 50.1854C56.7692 49.9905 57.0415 49.8772 57.2971 49.8455C57.5472 49.8079 57.7867 49.8408 58.0155 49.944C58.2443 50.0473 58.4711 50.2185 58.6957 50.4575L59.7066 51.533C59.8107 51.6437 59.9232 51.7576 60.0441 51.8745C60.1653 51.9801 60.3097 52.0695 60.4772 52.1426L59.3059 53.2443C59.1942 53.1955 59.0721 53.1182 58.9395 53.0122C58.8128 52.9008 58.6782 52.7692 58.5358 52.6177L57.7222 51.752C57.5359 51.5538 57.3533 51.418 57.1745 51.3446C56.9902 51.2653 56.7895 51.262 56.5722 51.3345C56.3495 51.4012 56.0953 51.5689 55.8098 51.8374L53.9916 53.5475L53.1287 52.6294L54.9643 50.9029C55.3781 50.5137 55.5819 50.1408 55.576 49.784C55.5645 49.4213 55.4218 49.0943 55.1478 48.8028C54.978 48.6221 54.8091 48.5009 54.6413 48.4391C54.4738 48.366 54.302 48.3409 54.1259 48.3638C53.9501 48.3754 53.7758 48.4294 53.6031 48.526C53.4249 48.6167 53.2513 48.7416 53.0823 48.9005L51.3603 50.5201L56.4475 55.9327L55.2937 57.0179Z" fill="white" fill-opacity="0.5"></path>
<path d="M66.6296 47.9479C66.0773 48.3019 65.5216 48.5393 64.9625 48.6601C64.4058 48.7699 63.8623 48.7667 63.3319 48.6506C62.8015 48.5344 62.2999 48.3 61.8271 47.9474C61.3567 47.5838 60.9317 47.1055 60.552 46.5127C60.1723 45.9198 59.9179 45.337 59.7885 44.7642C59.666 44.1871 59.6628 43.6333 59.779 43.1027C59.8952 42.5721 60.1216 42.0802 60.4583 41.6268C60.7974 41.1624 61.243 40.7532 61.7953 40.3992C62.3476 40.0452 62.9055 39.8112 63.4689 39.6971C64.028 39.5763 64.575 39.5773 65.1097 39.7002C65.64 39.8164 66.1383 40.0529 66.6043 40.4099C67.0728 40.7557 67.4969 41.2251 67.8766 41.8179C68.2563 42.4108 68.5095 42.9991 68.6364 43.5829C68.7657 44.1557 68.7689 44.7095 68.646 45.2444C68.5298 45.775 68.3022 46.2725 67.9631 46.7369C67.6264 47.1903 67.1819 47.5939 66.6296 47.9479ZM65.8919 46.7959C66.3633 46.4937 66.7061 46.1315 66.9202 45.7092C67.1342 45.287 67.2071 44.8222 67.1387 44.3149C67.077 43.8033 66.865 43.2645 66.5026 42.6986C66.2308 42.2742 65.9375 41.9348 65.6226 41.6805C65.3078 41.4262 64.9781 41.2527 64.6337 41.1598C64.296 41.0627 63.949 41.0475 63.5928 41.1143C63.2366 41.1811 62.8833 41.3268 62.5331 41.5512C62.0684 41.8491 61.729 42.2092 61.5149 42.6315C61.3033 43.0427 61.2283 43.5041 61.2899 44.0157C61.3516 44.5273 61.5636 45.0661 61.926 45.632C62.1978 46.0564 62.4933 46.3991 62.8125 46.6602C63.1316 46.9212 63.4601 47.1003 63.7978 47.1974C64.1422 47.2902 64.4892 47.3054 64.8387 47.2429C65.1906 47.1694 65.5416 47.0204 65.8919 46.7959Z" fill="white" fill-opacity="0.5"></path>
<path d="M73.6938 43.8295L70.4099 35.7213L73.7795 34.3551C74.5654 34.0365 75.3017 33.9365 75.9885 34.0552C76.6797 34.1634 77.2929 34.4629 77.8283 34.9537C78.3637 35.4445 78.7966 36.0977 79.1269 36.9134C79.3702 37.514 79.5124 38.0995 79.5535 38.6698C79.5916 39.2327 79.5233 39.7568 79.3487 40.242C79.174 40.7271 78.8959 41.1593 78.5143 41.5384C78.1402 41.9146 77.6565 42.2229 77.0634 42.4634L73.6938 43.8295ZM74.6482 41.9664L76.3164 41.2901C76.6722 41.1458 76.9774 40.9616 77.2319 40.7376C77.4864 40.5136 77.6761 40.2467 77.801 39.9371C77.9229 39.6201 77.9711 39.2596 77.9456 38.8555C77.9201 38.4515 77.8052 37.9974 77.601 37.4932C77.3337 36.8333 77.0152 36.3452 76.6455 36.0289C76.2801 35.7023 75.8783 35.5199 75.4399 35.4818C74.9986 35.4363 74.5369 35.5113 74.055 35.7066L72.3869 36.3829L74.6482 41.9664Z" fill="white" fill-opacity="0.5"></path>
<path d="M88.0278 39.3345C87.2752 39.4873 86.6053 39.4846 86.0181 39.3263C85.4293 39.1601 84.9438 38.8588 84.5614 38.4221C84.1774 37.9776 83.9163 37.4144 83.778 36.7322L82.693 31.3811L84.2453 31.0659L85.3279 36.4052C85.4153 36.8365 85.5708 37.1804 85.7942 37.4371C86.0177 37.6937 86.2935 37.8663 86.6216 37.9548C86.956 38.0338 87.3348 38.0303 87.7582 37.9443C88.2129 37.852 88.5733 37.6972 88.8395 37.4799C89.1134 37.261 89.2955 36.9913 89.3856 36.671C89.4758 36.3506 89.4795 35.9866 89.3968 35.5789L88.3142 30.2396L89.8548 29.9267L90.9398 35.2778C91.0797 35.9678 91.0554 36.5931 90.8671 37.1538C90.685 37.7051 90.3505 38.1689 89.8636 38.5454C89.3845 38.9202 88.7726 39.1832 88.0278 39.3345Z" fill="white" fill-opacity="0.5"></path>
<path d="M99.6044 38.1596C98.9485 38.1698 98.351 38.0791 97.812 37.8874C97.2809 37.6876 96.8204 37.3987 96.4306 37.0207C96.0408 36.6427 95.7377 36.1793 95.5212 35.6306C95.3127 35.0738 95.203 34.4434 95.1923 33.7395C95.1815 33.0356 95.2719 32.4061 95.4634 31.8511C95.6629 31.2959 95.9518 30.8234 96.3298 30.4335C96.7079 30.0436 97.1594 29.7445 97.6843 29.5364C98.217 29.3201 98.8114 29.2069 99.4673 29.1967C100.203 29.1853 100.861 29.3031 101.441 29.5501C102.021 29.7972 102.494 30.1499 102.861 30.6083C103.228 31.0586 103.456 31.5951 103.546 32.2178L101.926 32.2429C101.849 31.9001 101.7 31.6024 101.48 31.3497C101.261 31.0971 100.982 30.9014 100.643 30.7626C100.305 30.6239 99.9202 30.5578 99.4882 30.5645C98.9363 30.5731 98.4582 30.7005 98.0539 30.9468C97.6575 31.185 97.3508 31.5378 97.134 32.0052C96.9171 32.4726 96.8138 33.0423 96.8241 33.7142C96.8318 34.2181 96.9026 34.6651 97.0366 35.0551C97.1706 35.445 97.3556 35.7702 97.5916 36.0306C97.8356 36.2908 98.1226 36.4864 98.4527 36.6173C98.7906 36.7401 99.1675 36.7983 99.5835 36.7918C100.007 36.7852 100.386 36.7073 100.72 36.5582C101.054 36.409 101.331 36.2046 101.551 35.9452C101.771 35.6778 101.91 35.3716 101.969 35.0266L103.589 35.0015C103.526 35.6185 103.314 36.1659 102.954 36.6435C102.601 37.1131 102.138 37.4803 101.566 37.7452C100.994 38.0101 100.34 38.1482 99.6044 38.1596Z" fill="white" fill-opacity="0.5"></path>
<path d="M109.696 38.8042L111.171 30.1814L112.732 30.4484L111.257 39.0712L109.696 38.8042Z" fill="white" fill-opacity="0.5"></path>
<path d="M118.284 40.6996L121.318 32.4946L123.164 33.1772L124.711 40.7222L124.778 40.7471L125.685 38.0885L126.979 34.5881L128.42 35.1209L125.386 43.3259L123.63 42.6766L122.051 35.1837L121.983 35.1587L121.143 37.6373L119.803 41.2615L118.284 40.6996Z" fill="white" fill-opacity="0.5"></path>
<path d="M131.554 46.7922C131.019 46.4719 130.583 46.0945 130.246 45.66C129.92 45.2227 129.698 44.7449 129.579 44.2264C129.467 43.712 129.463 43.1734 129.567 42.6107C129.681 42.0452 129.911 41.4741 130.256 40.8974C130.621 40.2863 131.037 39.7938 131.502 39.42C131.979 39.0433 132.487 38.7874 133.024 38.6522C133.566 38.5102 134.12 38.4874 134.687 38.5841C135.26 38.6848 135.835 38.9077 136.412 39.2527C137.051 39.6346 137.555 40.0764 137.927 40.5781C138.309 41.077 138.545 41.6098 138.635 42.1763C138.729 42.736 138.656 43.3028 138.415 43.8767L137.025 43.045C137.113 42.7252 137.118 42.4062 137.038 42.088C136.969 41.767 136.823 41.4653 136.6 41.183C136.377 40.9006 136.077 40.6465 135.7 40.4206C135.185 40.1126 134.681 39.9651 134.189 39.9781C133.696 39.9912 133.236 40.1448 132.809 40.439C132.381 40.7332 132.005 41.1516 131.681 41.694C131.426 42.1197 131.255 42.5302 131.168 42.9255C131.088 43.3249 131.081 43.7029 131.147 44.0596C131.218 44.4093 131.36 44.7323 131.574 45.0284C131.793 45.3176 132.084 45.571 132.448 45.7887C132.881 46.0474 133.309 46.1964 133.733 46.2356C134.157 46.2748 134.546 46.2091 134.899 46.0385C135.257 45.861 135.553 45.5766 135.787 45.1852L136.015 44.8041L136.147 45.2608L133.48 43.6653L134.077 42.6663L137.898 44.9518L135.472 49.0097L134.38 48.3567L135.09 47.0056L135.028 46.9686C134.743 47.1803 134.407 47.3145 134.018 47.3713C133.634 47.4212 133.229 47.3978 132.802 47.301C132.375 47.2041 131.959 47.0346 131.554 46.7922Z" fill="white" fill-opacity="0.5"></path>
<path d="M148.616 61.5472L154.558 56.9126L155.539 58.1714L149.597 62.8061L148.616 61.5472ZM152.788 54.9147L153.876 54.066L158.155 59.5557L157.066 60.4044L152.788 54.9147Z" fill="white" fill-opacity="0.5"></path>
<path d="M153.327 68.1623L161.096 64.1414L161.824 65.5484L154.055 69.5693L153.327 68.1623ZM156.127 73.5773L163.896 69.5563L164.624 70.9634L156.854 74.9843L156.127 73.5773ZM157.268 67.5011L158.482 66.8723L160.886 71.5198L159.671 72.1486L157.268 67.5011Z" fill="white" fill-opacity="0.5"></path>
<path d="M158.645 79.7201L167.021 77.1954L168.82 83.1705L167.51 83.5653L166.071 78.7852L166.501 79.0065L160.078 80.9425L160.315 80.5204L161.761 85.3234L160.451 85.7182L158.645 79.7201ZM162.659 79.8138L163.888 79.4433L165.157 83.6603L163.928 84.0309L162.659 79.8138Z" fill="white" fill-opacity="0.5"></path>
<path d="M161.725 104.852C161.786 104.07 161.956 103.425 162.236 102.917C162.515 102.417 162.88 102.052 163.331 101.822C163.782 101.592 164.283 101.495 164.834 101.529L164.71 103.144C164.382 103.127 164.093 103.177 163.843 103.294C163.593 103.419 163.389 103.62 163.231 103.897C163.073 104.174 162.977 104.539 162.942 104.994C162.914 105.361 162.933 105.683 163 105.961C163.066 106.239 163.186 106.457 163.358 106.615C163.538 106.781 163.772 106.875 164.059 106.897C164.282 106.915 164.468 106.893 164.617 106.832C164.774 106.772 164.907 106.662 165.016 106.502C165.133 106.342 165.238 106.126 165.331 105.852C165.424 105.578 165.523 105.241 165.626 104.84C165.744 104.343 165.882 103.909 166.039 103.536C166.204 103.171 166.392 102.869 166.603 102.628C166.814 102.388 167.06 102.214 167.341 102.107C167.63 102.001 167.966 101.963 168.349 101.993C168.875 102.033 169.32 102.2 169.683 102.493C170.044 102.793 170.31 103.199 170.479 103.709C170.656 104.22 170.718 104.819 170.665 105.505C170.613 106.183 170.461 106.753 170.208 107.215C169.956 107.685 169.624 108.036 169.212 108.269C168.809 108.503 168.352 108.604 167.841 108.573L167.965 106.97C168.276 106.986 168.538 106.926 168.749 106.789C168.968 106.654 169.135 106.462 169.251 106.214C169.366 105.966 169.436 105.679 169.462 105.352C169.488 105.017 169.462 104.726 169.385 104.48C169.315 104.233 169.198 104.04 169.032 103.899C168.875 103.758 168.672 103.678 168.425 103.659C168.154 103.638 167.933 103.686 167.764 103.801C167.602 103.925 167.461 104.143 167.341 104.454C167.22 104.774 167.089 105.213 166.95 105.772C166.857 106.15 166.748 106.511 166.626 106.854C166.503 107.198 166.335 107.506 166.121 107.778C165.915 108.051 165.643 108.255 165.303 108.389C164.972 108.532 164.55 108.584 164.04 108.545C163.529 108.505 163.089 108.339 162.718 108.046C162.348 107.752 162.075 107.338 161.9 106.803C161.724 106.268 161.666 105.618 161.725 104.852Z" fill="white" fill-opacity="0.5"></path>
<path d="M160.712 113.116L169.162 115.38L168.255 118.765C168.073 119.445 167.808 119.987 167.459 120.39C167.111 120.794 166.701 121.057 166.229 121.179C165.763 121.311 165.252 121.302 164.696 121.153C164.116 120.998 163.657 120.734 163.318 120.361C162.976 119.997 162.757 119.549 162.659 119.017C162.567 118.496 162.605 117.922 162.773 117.296L163.31 115.291L164.515 115.614L164.012 117.491C163.859 118.063 163.885 118.522 164.091 118.867C164.302 119.221 164.628 119.458 165.069 119.576C165.555 119.706 165.959 119.653 166.279 119.416C166.607 119.181 166.841 118.804 166.979 118.286L167.498 116.351L167.651 116.615L160.302 114.646L160.712 113.116Z" fill="white" fill-opacity="0.5"></path>
<path d="M157.274 124.066L165.164 127.845L163.303 131.731C163.151 132.048 162.984 132.323 162.802 132.555C162.616 132.795 162.416 132.991 162.2 133.145C161.985 133.299 161.756 133.407 161.513 133.468C161.271 133.53 161.016 133.545 160.747 133.513C160.485 133.486 160.214 133.404 159.932 133.27C159.441 133.035 159.089 132.706 158.874 132.284C158.663 131.872 158.605 131.41 158.7 130.897L158.635 130.865C158.436 131.152 158.223 131.356 157.996 131.478C157.776 131.603 157.541 131.659 157.291 131.645C157.04 131.632 156.767 131.554 156.471 131.412L155.14 130.775C155.003 130.709 154.857 130.643 154.702 130.578C154.55 130.523 154.383 130.492 154.201 130.485L154.895 129.034C155.017 129.039 155.159 129.067 155.321 129.118C155.479 129.176 155.652 129.25 155.84 129.34L156.911 129.853C157.156 129.971 157.376 130.032 157.569 130.036C157.769 130.043 157.958 129.973 158.134 129.827C158.318 129.685 158.494 129.437 158.664 129.083L159.742 126.832L160.878 127.376L159.79 129.649C159.544 130.161 159.489 130.583 159.623 130.913C159.765 131.247 160.016 131.5 160.377 131.673C160.601 131.78 160.802 131.832 160.981 131.829C161.164 131.837 161.333 131.798 161.489 131.713C161.649 131.639 161.792 131.526 161.918 131.373C162.051 131.224 162.168 131.045 162.268 130.836L163.289 128.704L156.59 125.495L157.274 124.066Z" fill="white" fill-opacity="0.5"></path>
<path d="M150.53 136.043L157.591 141.208L156.656 142.486L149.595 137.322L150.53 136.043Z" fill="white" fill-opacity="0.5"></path>
<path d="M145.006 142.89L150.997 149.264L149.564 150.613L142.122 148.634L142.069 148.683L144.045 150.68L146.601 153.4L145.482 154.452L139.49 148.078L140.854 146.795L148.264 148.721L148.316 148.672L146.472 146.815L143.826 144L145.006 142.89Z" fill="white" fill-opacity="0.5"></path>
<path d="M133.637 152.059C134.162 151.722 134.694 151.5 135.233 151.392C135.77 151.295 136.296 151.309 136.813 151.434C137.323 151.563 137.807 151.799 138.265 152.143C138.72 152.497 139.128 152.957 139.491 153.523C139.875 154.123 140.13 154.715 140.257 155.298C140.382 155.893 140.385 156.462 140.266 157.003C140.152 157.552 139.925 158.058 139.586 158.522C139.24 158.991 138.784 159.407 138.218 159.769C137.592 160.171 136.972 160.426 136.357 160.535C135.741 160.654 135.159 160.628 134.611 160.456C134.069 160.291 133.594 159.973 133.188 159.502L134.552 158.628C134.798 158.85 135.082 158.996 135.402 159.066C135.72 159.147 136.055 159.151 136.407 159.077C136.759 159.004 137.12 158.848 137.491 158.611C137.996 158.287 138.352 157.902 138.56 157.455C138.768 157.008 138.836 156.528 138.763 156.014C138.69 155.5 138.484 154.977 138.143 154.444C137.875 154.027 137.584 153.691 137.269 153.436C136.948 153.186 136.612 153.012 136.264 152.912C135.919 152.819 135.567 152.803 135.206 152.863C134.85 152.93 134.493 153.078 134.136 153.306C133.712 153.578 133.388 153.895 133.164 154.258C132.94 154.62 132.825 154.997 132.82 155.39C132.82 155.789 132.942 156.181 133.188 156.565L133.428 156.939L132.96 156.854L135.577 155.177L136.204 156.157L132.456 158.56L129.906 154.578L130.977 153.892L131.87 155.13L131.931 155.091C131.868 154.741 131.898 154.38 132.02 154.007C132.147 153.641 132.348 153.288 132.625 152.949C132.902 152.61 133.239 152.313 133.637 152.059Z" fill="white" fill-opacity="0.5"></path>
<path d="M111.798 160.863C112.441 160.733 113.045 160.712 113.61 160.801C114.169 160.9 114.675 161.099 115.127 161.399C115.58 161.699 115.963 162.099 116.277 162.599C116.584 163.108 116.807 163.707 116.947 164.397C117.087 165.087 117.114 165.722 117.028 166.303C116.934 166.886 116.736 167.403 116.436 167.856C116.136 168.309 115.748 168.686 115.27 168.987C114.786 169.297 114.223 169.518 113.58 169.648C112.858 169.795 112.19 169.8 111.575 169.664C110.959 169.527 110.429 169.268 109.984 168.885C109.541 168.509 109.218 168.024 109.015 167.428L110.603 167.106C110.742 167.429 110.943 167.694 111.205 167.902C111.468 168.11 111.778 168.251 112.136 168.325C112.494 168.399 112.884 168.394 113.308 168.308C113.849 168.198 114.295 167.985 114.647 167.668C114.993 167.361 115.23 166.958 115.357 166.459C115.485 165.959 115.482 165.38 115.348 164.722C115.248 164.228 115.096 163.802 114.893 163.443C114.689 163.084 114.448 162.799 114.168 162.586C113.88 162.375 113.562 162.236 113.214 162.168C112.859 162.109 112.478 162.121 112.07 162.204C111.655 162.288 111.297 162.434 110.996 162.642C110.695 162.85 110.461 163.102 110.292 163.398C110.125 163.701 110.044 164.028 110.05 164.377L108.462 164.7C108.41 164.082 108.518 163.505 108.785 162.969C109.045 162.443 109.432 161.997 109.946 161.631C110.46 161.266 111.077 161.01 111.798 160.863Z" fill="white" fill-opacity="0.5"></path>
<path d="M100.969 161.986C101.625 161.976 102.222 162.067 102.761 162.258C103.292 162.458 103.753 162.747 104.143 163.125C104.533 163.503 104.836 163.967 105.052 164.515C105.261 165.072 105.37 165.702 105.381 166.406C105.392 167.11 105.301 167.74 105.11 168.295C104.91 168.85 104.622 169.322 104.243 169.712C103.865 170.102 103.414 170.401 102.889 170.609C102.356 170.826 101.762 170.939 101.106 170.949C100.45 170.959 99.8526 170.865 99.3135 170.665C98.7745 170.473 98.31 170.184 97.92 169.798C97.5302 169.42 97.2311 168.957 97.0227 168.408C96.8064 167.867 96.6928 167.245 96.6821 166.541C96.6713 165.837 96.7656 165.204 96.965 164.641C97.1566 164.086 97.4454 163.613 97.8314 163.223C98.2095 162.833 98.6649 162.53 99.1977 162.314C99.7226 162.106 100.313 161.996 100.969 161.986ZM100.99 163.354C100.43 163.363 99.9478 163.49 99.5435 163.737C99.1392 163.983 98.8326 164.34 98.6238 164.807C98.4069 165.274 98.3036 165.844 98.3139 166.516C98.3216 167.02 98.3924 167.463 98.5262 167.845C98.6601 168.227 98.849 168.548 99.093 168.808C99.329 169.068 99.6161 169.264 99.9541 169.395C100.292 169.526 100.669 169.588 101.085 169.581C101.637 169.573 102.115 169.445 102.519 169.199C102.916 168.961 103.222 168.608 103.439 168.141C103.656 167.673 103.759 167.104 103.749 166.432C103.742 165.928 103.671 165.481 103.537 165.091C103.403 164.701 103.218 164.376 102.982 164.115C102.738 163.855 102.451 163.659 102.121 163.529C101.783 163.406 101.406 163.348 100.99 163.354Z" fill="white" fill-opacity="0.5"></path>
<path d="M92.0332 161.64L90.5581 170.262L88.9967 169.995L90.2837 162.473L90.4933 162.813L86.2469 162.087L86.4857 160.691L92.0332 161.64Z" fill="white" fill-opacity="0.5"></path>
<path d="M80.8602 159.125L77.8263 167.33L76.3407 166.781L78.9875 159.623L79.1311 159.995L75.0906 158.501L75.5816 157.173L80.8602 159.125Z" fill="white" fill-opacity="0.5"></path>
<path d="M70.3934 154.63L65.9041 162.139L60.5491 158.935L61.2511 157.761L65.5351 160.324L65.0682 160.45L68.5106 154.693L68.6204 155.164L64.3158 152.589L65.0179 151.415L70.3934 154.63ZM67.3641 157.265L66.7052 158.367L62.9258 156.106L63.5847 155.004L67.3641 157.265Z" fill="white" fill-opacity="0.5"></path>
<path d="M58.6231 146.121C59.1146 146.556 59.4949 147.025 59.764 147.53C60.0219 148.036 60.1675 148.56 60.2009 149.102C60.2344 149.644 60.1463 150.191 59.9366 150.742C59.7157 151.294 59.3721 151.834 58.906 152.362C58.4399 152.889 57.9491 153.294 57.4338 153.575C56.9125 153.851 56.3808 154.005 55.8389 154.039C55.297 154.072 54.762 153.989 54.234 153.789C53.6947 153.59 53.1793 153.273 52.6878 152.839C52.1364 152.351 51.7297 151.821 51.4677 151.247C51.2057 150.674 51.0934 150.094 51.1309 149.508C51.1631 148.928 51.3558 148.377 51.7091 147.857L52.9228 148.93C52.7489 149.235 52.6582 149.556 52.6505 149.89C52.6428 150.225 52.7172 150.558 52.8736 150.889C53.03 151.219 53.27 151.527 53.5936 151.813C54.0072 152.179 54.4462 152.407 54.9108 152.497C55.3641 152.589 55.8283 152.534 56.3033 152.335C56.7784 152.136 57.2384 151.784 57.6833 151.281C58.017 150.903 58.2657 150.525 58.4294 150.146C58.593 149.768 58.6753 149.403 58.6763 149.051C58.6713 148.694 58.591 148.356 58.4353 148.037C58.2683 147.719 58.029 147.422 57.7173 147.146C57.3997 146.865 57.0673 146.668 56.7202 146.553C56.3731 146.438 56.0309 146.403 55.6936 146.446C55.351 146.496 55.0418 146.628 54.7661 146.844L53.5524 145.771C54.0142 145.357 54.5392 145.095 55.1275 144.985C55.7044 144.875 56.2934 144.916 56.8944 145.105C57.4955 145.295 58.0717 145.634 58.6231 146.121Z" fill="white" fill-opacity="0.5"></path>
<path d="M51.4195 138.608L45.4771 143.242L44.496 141.983L50.4384 137.349L51.4195 138.608ZM47.2472 145.24L46.159 146.089L41.8806 140.599L42.9688 139.75L47.2472 145.24Z" fill="white" fill-opacity="0.5"></path>
<path d="M45.3077 129.287L37.5386 133.308L36.8111 131.901L44.5802 127.88L45.3077 129.287Z" fill="white" fill-opacity="0.5"></path>
<path d="M40.7534 117.945C40.9425 118.573 41.0186 119.173 40.9816 119.744C40.9347 120.309 40.7827 120.832 40.5258 121.31C40.2688 121.789 39.906 122.207 39.4375 122.566C38.959 122.919 38.3827 123.197 37.7086 123.4C37.0346 123.603 36.4045 123.689 35.8183 123.656C35.2299 123.617 34.6964 123.468 34.2181 123.211C33.7397 122.955 33.3287 122.602 32.985 122.154C32.6313 121.701 32.3599 121.16 32.1708 120.532C31.9817 119.904 31.9095 119.303 31.9541 118.73C31.9911 118.159 32.1419 117.633 32.4065 117.152C32.6635 116.674 33.0274 116.259 33.4982 115.908C33.9591 115.552 34.5266 115.273 35.2006 115.069C35.8747 114.866 36.5098 114.783 37.1059 114.821C37.6921 114.853 38.2255 115.001 38.7061 115.266C39.1845 115.523 39.6005 115.878 39.9542 116.331C40.2979 116.779 40.5643 117.317 40.7534 117.945ZM39.4436 118.34C39.2822 117.804 39.0278 117.375 38.6804 117.054C38.3329 116.732 37.906 116.535 37.3995 116.462C36.8906 116.381 36.3145 116.438 35.6711 116.632C35.1886 116.778 34.7819 116.967 34.4511 117.2C34.1204 117.434 33.8632 117.703 33.6796 118.009C33.4937 118.308 33.3841 118.637 33.3508 118.998C33.3174 119.359 33.3607 119.739 33.4806 120.137C33.6398 120.666 33.893 121.091 34.2404 121.412C34.5779 121.728 35.001 121.927 35.5098 122.007C36.0187 122.088 36.5948 122.031 37.2382 121.837C37.7207 121.692 38.1312 121.501 38.4696 121.266C38.8081 121.03 39.0702 120.763 39.2561 120.465C39.4397 120.159 39.5493 119.829 39.585 119.476C39.6106 119.117 39.5635 118.738 39.4436 118.34Z" fill="white" fill-opacity="0.5"></path>
<path d="M38.7471 110.196L30.05 111.138L29.8386 109.181L35.9033 104.433L35.8956 104.361L33.1117 104.735L29.4014 105.137L29.2363 103.61L37.9334 102.668L38.1346 104.529L32.1308 109.283L32.1385 109.355L34.7315 109.001L38.573 108.585L38.7471 110.196Z" fill="white" fill-opacity="0.5"></path>
</svg>   </div>

<span class="text-sale-ctn"> New <br> Pieces </span>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="comfort-right">
      {% if section.settings.subtitle != blank %}
        <p class="comfort-subtitle">{{ section.settings.subtitle }}</p>
      {% endif %}
      {% if section.settings.title != blank %}
        <h2 class="comfort-title">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.description != blank %}
        <p class="comfort-desc">{{ section.settings.description }}</p>
      {% endif %}
      {% if section.settings.button_text != blank %}
        <a href="{{ section.settings.button_link }}" class="comfort-btn">{{ section.settings.button_text }}
          <span class="custom-btn-arrow"><svg width="30" height="8" viewBox="0 0 30 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.3032 8L30 4L24.3064 -2.48874e-07L26.625 3.46667L0 3.46667V4.53333L26.625 4.53333L24.3032 8Z" fill="white"></path>
            </svg>
          </span>
        </a>
      {% endif %}

      {% if section.blocks.size > 0 %}
        <div class="comfort-features">
          {% for block in section.blocks %}
            <div class="feature-item">
              {% if block.settings.icon %}
                <img src="{{ block.settings.icon | image_url: width: 60 }}" alt="{{ block.settings.feature_title }}">
              {% endif %}
              <span>{{ block.settings.feature_title }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>

 

{% schema %}
{
  "name": "Custom Comfort Zone",
  "settings": [
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Image"
    },
    {
      "type": "url",
      "id": "left_image_link",
      "label": "Left Image - URL"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Image"
    },
    {
      "type": "url",
      "id": "right_image_link",
      "label": "Right Image - URL"
    },
    {
      "type": "text",
      "id": "badge_text",
      "label": "Badge Text",
      "default": "New Pieces"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "RECLINE. RELAX. REPEAT."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Your Forever Comfort Zone"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Explore More"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "feature_title",
          "label": "Feature Title",
          "default": "Feature title"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Custom Comfort Zone"
    }
  ]
}
{% endschema %}
